h1 {
    color: red;
}

.selfie {
    margin-top: 20%;
    width: 50%;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.banner-text {
    font-family: 'Open Sans', sans-serif;
    margin-top: 5%;
    font-size: 200%;
}