div.custom-paragraphs > p {
    margin-bottom: 5%;
    font-size: 150%;
    font-family: 'Merriweather', serif;
}

.selfie {
    margin-top: 60%;
    width: 50%;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bottom-space {
    margin-bottom: 5%;
}

.pushed-down {
    margin-top: 10%;
}

.no-margin-list {
    list-style: inside;
    padding-left: 0
}

.no-bullet-list {
    list-style-type: none;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.white-link {
    color: #fff;
}

.white-link:hover {
    color: #ddd;
}

.grey-backing {
    background-color: #ddd;
}

.special-font {
    font-family: 'Merriweather Sans', sans-serif;
}

.huge-text {
    font-size: 300%;
}

.bigger-text {
    font-size: 250%;
}

.big-text {
    font-size: 200%;
}

.somewhat-big-text {
    font-size: 150%;
}

.spaced {
    margin-top: 5%;
    margin-bottom: 20%;
}

.card-enter {
    opacity: 0.01;
}

.card-enter.card-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

div.resume-group > p, li.bottom-space > p {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

div.resume-group {
    margin-top: 5%;
}

.bolded {
    font-weight: bold;
}