h1 {
    color: red;
}

.selfie {
    margin-top: 60%;
    width: 50%;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.heading {
    margin-top: 10%;
    font-size: 200%;
    font-family: 'Open Sans', sans-serif;
}

.white-link {
    color: #fff;
}

.white-link:hover {
    color: #ddd;
}

.grey-backing {
    background-color: #ddd;
}

.banner-text {
    font-size: 200%;
    font-family: 'Open Sans', sans-serif;
    margin-top: 10%;
    margin-bottom: 20%;
}