.background {
  height: 100vh;
  width: 100vw;
  z-index: -1;

  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-4)
  );
}

.page {
  height: 100vh;
  width: 100vw;
}

.content {
  height: 100%;
  width: max(60%, $mantine-breakpoint-md);

  background-color: white;
}
